body::before{
    background: url('https://cdn.wallpapersafari.com/66/82/pKCuAG.png') no-repeat center center/cover;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
#nav {
    position: sticky;
    top: 0px;
}

#navbar {

    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 10px;
    height: 30px;

    font-family: sans-serif;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 25px;

    border-bottom: 3px solid #41c0e1;
}

.nav_link:hover {
    color: #41c0e1;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
     color: #41c0e1;
}
#project a {
    color: #41c0e1;
}
#head_pro{
    text-decoration: underline;
    font-size: 46px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* #proj_img{
display: grid;
grid-template-columns: 350px 350px 350px ;
grid-gap: 150px;
grid-row-gap: 30px;
} */
#proj_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pro_img{
    height: 250px;
    /* margin:0.5px; */
    width: 500px;
    
}
#footer {
    background-color: #0087ff;
    color: black;
    height: 220px;
}

#logos {
    padding: 8px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 55px;
}

.footimg {
    width: 45px;
    height: 40px;
}

#copyright {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
}

.footlink {
    height: 60px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footlink:hover {
    background-color: black;
}
